div.container1 {
  position: -webkit-sticky;
  position: sticky;
  left: 10;
  top: 5;
}
div.container2 {
    position: -webkit-sticky;
    position: sticky;
    left: 190pc; 
    top: 5;
  }
  div.container3 {
    position: absolute;
    left: 10;
    top: 5;
  }
  div.container4 {
    position: absolute;
    right: 15;
    top: 5;
  }